In [1]:
import pandas as pd
import numpy as np
import os
import xml

In [2]:
data_folder = os.getcwd()+'/Data'
data_file_names = os.listdir(data_folder)

# Separate XML file names from XLS since only one is going to be used
xml_file_names = [data for data in data_file_names if (data.endswith(".xml"))]
xls_file_names = [data for data in data_file_names if (data.endswith(".xls"))]
date_keys = range(1,13)

In [49]:
df_full = pd.DataFrame([])
for i, item in enumerate(xls_file_names):
    print item
    temp = pd.read_excel("./Data/"+item)
    temp['Time'] = pd.Series((np.ones(temp.shape[0])*(i+1)).astype('int'), index=temp.index)

    print temp.shape
    df_full = df_full.append(temp, ignore_index=False)

TOP500_200506.xls
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
(500, 24)
TOP500_200511.xls
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
(500, 24)
TOP500_200606.xls
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
(500, 24)
TOP500_200611.xls
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
(500, 24)
TOP500_200706.xls
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
(500, 24)
TOP500_200711.xls
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
(500, 24)
TOP500_200806.xls
(500, 26)
TOP500_200811.xls
(500, 26)
TOP500_200906.xls
(500, 26)
TOP500_200911.xls
(500, 26)
TOP500_201006.xls
(500, 28)
TOP500_201011.xls
(500, 27)
TOP500_201106.xls
(500, 28)
TOP500_201111.xls
(500, 33)
TOP500_201206.xls
(500, 36)
TOP500_201211.xls
(500, 36)
TOP500_201306.xls
(500, 36)
TOP500_201311.xls
(500, 35)
TOP500_201406.xls
(500, 35)
TOP500_201411.xls
(500, 35)
TOP500_201506.xls
(500, 35)
TOP500_201511.xls
(500, 35)
TOP500_201606.xls
(500, 35)

In [50]:
 df_full.Rank

0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10
10      11
11      12
12      13
13      14
14      15
15      16
16      17
17      18
18      19
19      20
20      21
21      22
22      23
23      24
24      25
25      26
26      27
27      28
28      29
29      30
      ...
470    471
471    472
472    473
473    474
474    475
475    476
476    477
477    478
478    479
479    480
480    481
481    482
482    483
483    484
484    485
485    486
486    487
487    488
488    489
489    490
490    491
491    492
492    493
493    494
494    495
495    496
496    497
497    498
498    499
499    500
Name: Rank, dtype: int64

In [51]:
df_full.Time

0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10      1
11      1
12      1
13      1
14      1
15      1
16      1
17      1
18      1
19      1
20      1
21      1
22      1
23      1
24      1
25      1
26      1
27      1
28      1
29      1
       ..
470    23
471    23
472    23
473    23
474    23
475    23
476    23
477    23
478    23
479    23
480    23
481    23
482    23
483    23
484    23
485    23
486    23
487    23
488    23
489    23
490    23
491    23
492    23
493    23
494    23
495    23
496    23
497    23
498    23
499    23
Name: Time, dtype: int64